body {
    font-size: 20px;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}

p {
    text-indent: 20px
}
a:link {
    color: green;
}
a:hover, a:focus {
    color:red;

}
a:visited {
    color: orange;
}
#header {
    text-align: center;
}
#headers {
    text-align: left;

}