body {
    font-size: 20px;
}
h1 {
    font-size: 2em;
}
p {
    text-indent: 20px
}
body {
    margin: 10px;
}
main {
    width: 500px;
    margin: 20px;
    padding: 10px;
}
a:link {
    color: yellow;
}
a:visited {
    color: blue;
}
a:hover, a:focus {
    color: purple;
}
 a:active {
     color: green;
 }

#nav_list ul {
   list-style-type: none;
   padding: 1em 0;
   text-align: center;
   border-top:2px solid black;
   border-bottom:2px solid black;
}

#nav_list ul li {
    display: inline;
    padding: 0 1.5em;
}

#nav_list ul li a {
    font-weight: bold;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    border:1px solid black;
    padding: .2em .7em;
    text-align: right;
}
th.left, td.left {
    text-align: left;

}
thead {
    background-color: red;
}
